In [ ]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy.stats import f_oneway

In [3]:
from google.colab import drive
drive.mount('/content/drive')
dla=pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

ModuleNotFoundError: No module named 'google.colab'

In [3]:
dla.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01/01/2016 07:43:13 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01/01/2016 03:24:42 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [4]:
dla.tail()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
17839,32185903,12/12/2015 11:42:41 PM,12/13/2015 02:48:59 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11421.0,86-83 80 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.691737,-73.862038,"(40.69173700627507, -73.8620377948848)"
17840,32191181,12/12/2015 11:42:38 PM,12/13/2015 07:25:21 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10032.0,559 WEST 164 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.838020,-73.940703,"(40.838019554325456, -73.9407025685327)"
17841,32188417,12/12/2015 11:42:01 PM,12/13/2015 03:44:36 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11206.0,991 MYRTLE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.696189,-73.942217,"(40.69618859110066, -73.94221711868975)"
17842,32189671,12/12/2015 11:41:40 PM,12/13/2015 03:36:56 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11385.0,2044 GATES AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.706907,-73.904679,"(40.706906642274014, -73.90467879234053)"
17843,32184973,12/12/2015 11:41:05 PM,12/13/2015 05:43:02 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Store/Commercial,11377.0,ROOSEVELT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 53 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unique Key                      17844 non-null  int64
 1   Created Date                    17844 non-null  object
 2   Closed Date                     17737 non-null  object
 3   Agency                          17844 non-null  object
 4   Agency Name                     17844 non-null  object
 5   Complaint Type                  17844 non-null  object
 6   Descriptor                      17559 non-null  object
 7   Location Type                   17844 non-null  object
 8   Incident Zip                    17721 non-null  float64
 9   Incident Address                15885 non-null  object
 10  Street Name                     15885 non-null  object
 11  Cross Street 1                  15618 non-null  object
 12  Cross Street 2                  15591 non-null  object
 13  Intersection Street 1           1951 non-null   object
 14  Intersection Street 2           1924 non-null   object
 15  Address Type                    17712 non-null  object
 16  City                            17721 non-null  object
 17  Landmark                        9 non-null      object
 18  Facility Type                   17740 non-null  object
 19  Status                          17844 non-null  object
 20  Due Date                        17844 non-null  object
 21  Resolution Description          17844 non-null  object
 22  Resolution Action Updated Date  17739 non-null  object
 23  Community Board                 17843 non-null  object
 24  Borough                         17843 non-null  object
 25  X Coordinate (State Plane)      17684 non-null  float64
 26  Y Coordinate (State Plane)      17684 non-null  float64
 27  Park Facility Name              17843 non-null  object
 28  Park Borough                    17843 non-null  object
 29  School Name                     17843 non-null  object
 30  School Number                   17843 non-null  object
 31  School Region                   17843 non-null  object
 32  School Code                     17843 non-null  object
 33  School Phone Number             17843 non-null  object
 34  School Address                  17843 non-null  object
 35  School City                     17843 non-null  object
 36  School State                    17843 non-null  object
 37  School Zip                      17843 non-null  object
 38  School Not Found                17843 non-null  object
 39  School or Citywide Complaint    0 non-null      float64
 40  Vehicle Type                    0 non-null      float64
 41  Taxi Company Borough            0 non-null      float64
 42  Taxi Pick Up Location           0 non-null      float64
 43  Bridge Highway Name             10 non-null     object
 44  Bridge Highway Direction        10 non-null     object
 45  Road Ramp                       9 non-null      object
 46  Bridge Highway Segment          9 non-null      object
 47  Garage Lot Name                 0 non-null      float64
 48  Ferry Direction                 0 non-null      float64
 49  Ferry Terminal Name             0 non-null      float64
 50  Latitude                        17684 non-null  float64
 51  Longitude                       17684 non-null  float64
 52  Location                        17684 non-null  object
dtypes: float64(12), int64(1), object(40)
memory usage: 7.2+ MB

In [6]:
dla.describe()

,Unique Key,Incident Zip,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude
count,1.784400e+04,17721.000000,1.768400e+04,17684.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17684.000000,17684.000000
mean,3.224848e+07,10892.520682,1.004919e+06,201355.507917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.719298,-73.925395
std,3.461805e+04,542.770185,2.238690e+04,29522.299969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.081026,0.080740
min,3.218450e+07,83.000000,9.133570e+05,121998.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.501279,-74.254937
25%,3.221865e+07,10453.000000,9.910150e+05,179908.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.660449,-73.975625
50%,3.224938e+07,11211.000000,1.003694e+06,199381.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.713875,-73.929864
75%,3.227608e+07,11355.000000,1.020570e+06,218400.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.766067,-73.868828
max,3.231065e+07,11694.000000,1.066383e+06,270997.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.910452,-73.703633

In [8]:
dla.shape

(17844, 53)

NameError: name 'hr1' is not defined